<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-usd-to-vnd:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_usd_to_vnd_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-usd-to-vnd/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-usd-to-vnd" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.18.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.18.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>